* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

body {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
}
.clearfix {
    clear: both;
}
.main {    
    background: rgba(227, 227, 227, 0.3);
    border-radius: 5px;
    margin: 30px 0 0 30px;
    padding: 10px;
    position: absolute;
    width: 510px;
}
.main h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    margin: 0 0 15px;
}
.main p {
    font-family: "Open Sans", sans-serif;
}
.main ul {
    list-style-type: none;
}
.main ul.skills {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin: 20px 0;
}
.main ul.social {
    margin: 20px auto 0;
    padding: 0;
    width: 290px;
}
.main ul.social li {
    float: left;
    margin: 0 5px;
}
.main ul.social a {
    display: block;
    height: 48px;
    opacity: 0.6;
    -o-transition: 0.6s all ease;
    -moz-transition: 0.6s all ease;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease;
    width: 48px;
}
.main ul.social a:hover {
    opacity: 1;
}
.main ul.social .fb {
    background: url("../img/fb.png") no-repeat center center;
}
.main ul.social .tw {
    background: url("../img/tw.png") no-repeat center center;
}
.main ul.social .mail {
    background: url("../img/mail.png") no-repeat center center;
}
.main ul.social .git {
    background: url("../img/github.png") no-repeat center center;
}
.main ul.social .gram {
    background: url("../img/instagram.png") no-repeat center center;
}
footer p {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    margin-left: 30px;
    padding: 0 5px;
    width: 270px;
}
footer a {
    color: #000;
    text-decoration: none;
    -o-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
footer a:hover {
    background: #000;
    color: #fff;
    text-decoration: underline;
}