* {
	margin: 0;
    padding: 0;
}
body {
    background: rgba(0, 0, 0, 0.05);
}
.main, .wrapper {
    width: 100%;
}
.main h1 {
    font-family: "American Typewriter", "Cinzel Decorative", serif;
    font-size: 4em;
    font-weight: 400;
    margin: 150px 0px 20px;
    text-align: center;
}
.main p {
    font-family: Georgia, "Slabo 27px", serif;
    font-size: 1.3em;
    text-align: center;
}
.i {
    font-style: italic;
}
.main .social {
    display: block;
    height: 100px;
    margin: 50px auto 0;
    width: 592px;
}
.main .social {
    list-style: none;
}
.main .social li {
    display: block;
    float: left;
    margin: 0 10px;
}
.main .social a {
    display: block;
    height: 128px;
    opacity: 0.75;
    -o-transition: 0.6s all ease;
    -moz-transition: 0.6s all ease;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease;
    width: 128px;
}
.main .social a:hover {
    opacity: 1;
}
.main .social .fb {
    background: url("../img/fb.png") no-repeat center center;
}
.main .social .ig {
    background: url("../img/ig.png") no-repeat center center;
}
.main .social .mail {
    background: url("../img/mail.png") no-repeat center center;
}
.main .social .lkdin {
    background: url("../img/lkdin.png") no-repeat center center;
}

/*Deisgn Responsivo*/

@media (max-width: 592px) {
    .main .social {
        width: 300px;
        margin: 20px auto;
    }
    .main .social li {
        margin: 10px;
    }
}